[submodule "external_plugins/daVinci-MagiHuman"]
	path = external_plugins/daVinci-MagiHuman
	url = https://github.com/GAIR-NLP/daVinci-MagiHuman.git
[submodule "external_plugins/VibeVoice"]
	path = external_plugins/VibeVoice
	url = https://github.com/microsoft/VibeVoice.git
[submodule "external_plugins/GitNexus"]
	path = external_plugins/GitNexus
	url = https://github.com/abhigyanpatwari/GitNexus.git
